





/*-----------Header Section------------- */

.background{
    background-color: #FFF4E7;
    
    
}
.header{
    display: flex;
    justify-content: space-between;
     width: 90%;
   
}

    
    

.logo{
      margin-left: 210px;
      font-size: 35px;
}

.nav{

}
.nav li{
   list-style: none;
   margin-left: 60px; 
}
.nav ul{
    display: flex; 
 }

/*---------Brand New-------------*/

 .brand_new{
    text-align: center;
    
 }
 .brand_new_heading{
    font-size: 50px;
    margin-bottom: 10px;
 }
 .brand_new_description{
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
 }
.btn_primari{
    background-color: #FF900E;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
.brand_new_image img{
    height: 550px;
    width: 1071px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    padding-bottom: 25px;
}
/*-------------Features styles---------------*/
.our_features{
    display: flex;
    
}





/*----------Some Facts Style----------------- */
.facts_section{
    margin-bottom: 120px;
}
.some_facts{
    display: flex;
    justify-content: center;
    gap: 60px;
}
    .some_fects_text{
       
    }
    .some_facts_box{
        border: 1px solid #FF900E;
        border-radius: 5px;
        width: 175px;
        height: 170px;
        text-align: center;
      
    }
    .some_facts_box img{
        padding-top: 30px;
        padding-bottom: 0;

    }

    .some_facts_heading{
        font-size: 30px;
        padding-top: 30px;
    }
.icon_box{
    display: grid;
    display: inline;
   
}


/* ------------Our Sponspors section styles-------- */
.sponspors_text{
    text-align: center;
}
 .sponspors_heading{
    font-size: 35px;
    margin-bottom: -8px;
 }   
.sponspors_description{
    font-size: 16px;
    line-height: 20px;
    padding: 25px;
}
.sponspors_images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
}




/* Footer Section */

.footer{
    background-color: #FFF4E7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1440px;
    height: 50px;
    left: 255px;
    padding-top: 22px;
    margin-top: 15px;

}