





/*-----------Header Section------------- */

.background{
    background-color: #FFF4E7;
    
    
}
.header{
    display: flex;
    justify-content: space-between;
    width: 90%;

}

    
    

.logo{
      margin-left: 210px;
      font-size: 35px;
}

.nav{

}
.nav li{
   list-style: none;
   margin-left: 60px; 
}
.nav ul{
    display: flex; 
 }

/*---------Brand New-------------*/

 .brand_new{
    text-align: center;
    
 }
 .brand_new_heading{
    font-size: 50px;
    margin-bottom: 10px;
 }
 .brand_new_description{
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
 }
.btn_primari{
    background-color: #FF900E;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
.btn_primari:hover{
    background-color: aqua;
    color: #FF900E;
}
.brand_new_image img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    padding-bottom: 25px;
}
/*-------------Features styles---------------*/
.container{
    width: 85%;
    margin: 0 auto;
}
.our_features{
    display: flex;
    
}
.images_features{
    width: 50%;
    padding-left: 50px;
    
}
.images_f{
    display: flex;
    justify-content: end;
    padding-right: 30px;
  }

.images_f img{
    width: 35%;
}
.text_features{
    width: 50%;
    display: flex;
    align-items: center;

}

.text_features_heading{
    font-size: 35px;
}
.text_features_description{
    font-size: 16px;
}
.text_features_heading span{
    color: #FF900E;
}


/*------------------------Feature two styles---------------------------------- */
.feature_two{
    Width: 1440px;
    height: 1059;
    padding-top: 50px;

}
.feature{
    display: flex;
    gap: 91px;

}

.feature_text2{
    width: 50%;
}
.feature_text2_heading{
    font-size: 35px;
}
.feature_text2_description{
    font-size: 16px;
    line-height: 2;
}



.feature_inside_text{
    background-color: #fff7f7e7;
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px;
}
.feature_inside_text_heading{
    font-size: 18px;
    margin-bottom: 20px;
}

.feature_inside_text_desription{
    line-height: 1.5;
}
.feature_image_two{
    width: 50%;
    position: relative;
}
.btn_extra{
    padding: 50px 70px;
    font-size: 32px;
    color: white;
    background-color: #FF900E;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    
}
.btn_extra:hover{
    background-color: #E02C6D;
}





/*----------Some Facts Style----------------- */
.facts_section{
    margin-bottom: 120px;
    margin-top: 70px;
}
.some_facts{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
    .some_fects_text{
       
    }
    .some_facts_box{
        border: 1px solid #FF900E;
        border-radius: 5px;
        width: 175px;
        height: 170px;
        text-align: center;
      
    }
    .some_facts_box img{
        padding-top: 30px;
        padding-bottom: 0;

    }

    .some_facts_heading{
        font-size: 30px;
        padding-top: 30px;
    }
.icon_box{
    display: grid;
    display: inline;
   
}

/* Extra Section */

.container{
    margin: 0 auto;
    text-align: certer;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 100px;
    margin-bottom: 50px;
}
.banner_title{
    font-size: 70px;
    font-weight: bold;
  
}
.banner_description{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 6px;
    margin-top: -47px;
}
.btn_primari{
    padding: 10px 24px;
    background-color:#E02C6D;
    border-radius: 41px;
}
.banner img{
    width: 440px;
    height: 414px;
}


/* ------------Our Sponspors section styles-------- */
.sponspors_text{
    text-align: center;
}
 .sponspors_heading{
    font-size: 35px;
    margin-bottom: -8px;
 }   
.sponspors_description{
    font-size: 16px;
    line-height: 20px;
    padding: 25px;
}
.sponspors_images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
}




/* -----------Footer Section--------------------- */

.footer{
    background-color: #FFF4E7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 50px;
    left: 255px;
    padding-top: 22px;
    margin-top: 15px;

}
.hide{
    display: none;
}
/* Media */
@media screen and (max-width:576px){
   .images_features{
    width: 100%;
   }
   .our_features {
    flex-direction: row;
    display: inherit;
   }
   .images_f {
   
    justify-content: center;
   }
    .images_f{
    width: 100%;
   }
   .text_features {
    width: 100%;
   }
   .text_features_heading {
    text-align: center;
  }
  .text_features_description {
    text-align: center;
  }

  .feature_text2 {
    width: 100%;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .feature_text2 {
    width: 100%;
  }
  .featuress{
    text-align: center;
  }
  .some_facts {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .sponspors_images{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }





}